body {
  max-width: 960px;
  min-width: 235px;
}

main, #external-links {
  display: inline-block;
  vertical-align: text-top;
  width: 100%;
}

main {
  display: inline-block;
  vertical-align: text-top;
  width: 75%;
  margin-right: 0px;
}

#external-links{
  display: inline-block;
  vertical-align: text-top;
  width: 20%;
  margin-left: 0px;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  body {
    font-size: .8em;
    background-color: hotpink;
  }
  main, #external-links {
    display: block;
  }
}